.container-tennis {
  position: absolute;
  width: 512px !important;
  background: linear-gradient(to left, #004890, #3e538f, #242027) !important;
  height: 256px !important;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.score-tennis {
  table-layout: fixed;
  height: 85%;
  text-align: center;
  background: #00000052;
  margin: 10px;
  padding: 10px;
}

.footer-tennis {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
  background: #000000;
  padding-left: 15px;
  padding-right: 15px;
}
td {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  height: 100%;
}

tr {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
}

.logo-scortenn {
  width: 30%;
}
.set-cell {
  width: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.player-margin {
  margin-left: 5px;
  margin-right: 5px;
}

.logo-tennis {
  display: inline-block; /* Changer de block à inline-block */
  width: auto;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.player-name {
  width: inherit;
  align-items: center;
  align-content: center;
  text-align: center;
  color: #ffffff;
  font-weight: 700;
  font-size: 40px;
  white-space: nowrap; /* Empêche la rupture de ligne pour le nom du joueur */
}

.set-score {
  display: flex;
  border-radius: 5px;
  width: 40px;
  height: 60px;
  color: #ffffff;
  text-align: center;
  justify-content: center;
  align-items: center;
  font-size: 52px;
  font-weight: 700;
}
.point-score {
    color: #e1e50e;
}

.dot {
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-left: 15px solid #e1e50e;
}
.middle {
  height: 20%;
}

.middle-text {
  font-size: 20px;
  font-weight: 700;
  color: white;
  text-align: center;

  align-items: center;
  display: flex;
}

.timer {
  color: white;
  font-size: 35px;
  font-weight: 700;
}

@keyframes blink {
  0%,
  50% {
    visibility: visible;
  }
  51%,
  100% {
    visibility: hidden;
  }
}

.blinking {
  animation: blink 1s steps(1, start) infinite;
}
